<div class="col-md-12 text-center chapter centered0">
    <h1>{{novels[0].name}}</h1>
    <div class="divider"></div>
    <div class="row">
        <div class="container-fluid">
            <div class="noveldetails">
                <div class="col-md-4 ">
                    <img src="{{novels[0].src}}" class="img-responsive" alt="Cinque Terre" width="304" height="236">
                </div>
                <div class="col-md-8 ">
                    <p><b>Author : </b> Me</p>
                    <p><b>Language :</b>Chinese Novel</p>
                    <p><b>Reading List :</b> 254 </p>
                    <p><b>Status :</b>1344 Chapters (Ongoing)</p>
                    <p><b>Genere :</b><br><kbd>cultivation</kbd> <kbd>cultiv</kbd> <kbd>culton</kbd> <kbd>culton</kbd> <kbd>culton</kbd></p>
                    <p><b>Tags :</b><br><kbd>cultivation</kbd> <kbd>cultiv</kbd> <kbd>culton</kbd></p>
                    <p><strong>Description :</strong><br> The Revered Master, Yu Yan, known as the number one in the cultivation world, waited for sixteen thousand years, and finally took in a disciple. He taught her carefully, and took care of her diligently. He watched her as she slowly grew stronger as she comprehended the laws, and just as she was about to soar into prominence… she died! Hence, he once again took in another disciple, carefully taught her, diligently took care of her, and then… she died again! Thus, he took in another disciple, and not long after… she still died! Yu Yan: … Disciple: … (Why do I always get picked up by the same person every time I reincarnate? Haaaa…</p>
                </div>
            </div>
            <div class="col-md-12 text-left list-category text-primary">
                <div style="margin-top:20px;"></div>
                <div class="divide"></div>
                <div class="container-fluid">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="#">Volume 1</a></li>
                        <li role="presentation"><a href="#">Volume 2</a></li>
                        <li role="presentation"><a href="#">Volume 3</a></li>
                    </ul>
                    <h3 class="title">
                        Volume 1
                        <a href="#" class="btn btn-xs btn-primary pull-right">30 Chapters</a>
                    </h3>

                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <div class="truncate pull-left">Option One - Primary</div><span class="badge">14 views</span></a>
                        <a href="#" class="list-group-item">
                            <div class="truncate pull-left">Option Two - Primary</div><span class="badge">14 views</span></a>
                        <a href="#" class="list-group-item">
                            <div class="truncate pull-left">Option Three - Primary</div><span class="badge">14 views</span></a>
                        <a href="#" class="list-group-item">
                            <div class="truncate pull-left">Option Four - Primary</div><span class="badge">14 views</span></a>
                        <a href="#" class="list-group-item">
                            <div class="truncate pull-left">Option Five - Primary</div><span class="badge">14 views</span></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
