<div class="side" style="margin-top:30px;">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h5>Donations:</h5>
                        <div class="divider"></div>
                        <div class="hr-line-dashed"></div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                60$/100$
                            </div>

                        </div>
                        <button class="btn btn-success btn-block">Donate</button>
                        <div class="hr-line-dashed"></div>

                        <h5>Top Novels</h5>
                        <div class="divider"></div>
                        <ul class="folder-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[1].name}} </a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[2].name}}</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[3].name}}</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[4].name}}</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[5].name}}</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[6].name}}</a></li>
                        </ul>
                        <h5 class="tag-title">Tags</h5>
                        <div class="divider"></div>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href="">wuxia</a></li>
                            <li><a href="">cultivation</a></li>
                            <li><a href="">sliceoflife</a></li>
                            <li><a href="">kingdom</a></li>
                            <li><a href="">weak to strong</a></li>
                            <li><a href="">adult</a></li>
                            <li><a href="">something</a></li>
                            <li><a href="">wuxia</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h5>Subscribe:</h5>
                        <div class="divider"></div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">

                            <input type="email" class="form-control" placeholder="Asdf@mail.com" id="email">
                        </div>
                        <button class="btn btn-primary btn-block">Click To Subscribe</button>
                        <div class="hr-line-dashed"></div>
                        <h5>Latest Updates</h5>
                        <div class="divider"></div>
                        <ul class="folder-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[0].name}}</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[2].name}}</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[4].name}}</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[6].name}}</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[8].name}}</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> {{novels[10].name}}</a></li>
                        </ul>


                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
