{% extends "layout.nunjucks" %} {% block header %} {% include "partials/header.nunjucks" %}
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
{% endblock %} {% block content %} {% include "partials/navigation.nunjucks" %} {% include "partials/carousel.nunjucks" %}
<div class="container-fluid ">
    <div class="row-fluid">
        <div class="col-md-9">
            <div class="col-md-12">
                {% include "partials/mainpagecontent.nunjucks" %} {% include "partials/pagination.nunjucks" %}
            </div>
        </div>
        <div class="col-md-3">
            {% include "partials/sidebar.nunjucks" %}
        </div>
    </div>
</div>
{% include "partials/footer.nunjucks" %} {% include "partials/signinmodel.nunjucks" %} {% endblock %}
