{% extends "layout.nunjucks" %} {% block header %} {% include "partials/header.nunjucks" %} {% endblock %} {% block content %} {% include "partials/navigation.nunjucks" %}
<div class="container-fluid setwidth">
    <div class="row-fluid">
        <div class="col-md-9 ">
            {% include "partials/novelpage.nunjucks" %}
        </div>
        <div class="col-md-3">
            {% include "partials/sidebar.nunjucks" %}
        </div>
    </div>
</div>
{% include "partials/footer.nunjucks" %} {% include "partials/signinmodel.nunjucks" %} {% endblock %}
