.file,.navbar .navbar-collapse,.navbar-brand {
  position: relative;
}

.file-manager h5 {
  text-transform: uppercase;
}

.file-manager {
  list-style: none;
  margin: 0;
  padding: 0;
}

.folder-list li a {
  color: #666;
  display: block;
  padding: 5px 0;
}

.folder-list li {
  border-bottom: 1px solid #e7eaec;
  display: block;
}

.folder-list li i {
  margin-right: 8px;
  color: #3d4d5d;
}

.file-manager h5.tag-title {
  margin-top: 20px;
}

.tag-list li {
  float: left;
}

.tag-list li a {
  font-size: 10px;
  background-color: #f3f3f4;
  padding: 5px 12px;
  color: inherit;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}

.file {
  border: 1px solid #e7eaec;
  padding: 0;
  background-color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
}

.file-manager .hr-line-dashed {
  margin: 15px 0;
}

.file .icon,.file .image {
  height: 100px;
  overflow: hidden;
}

.file .icon {
  padding: 15px 10px;
  text-align: center;
}

.file-control {
  color: inherit;
  font-size: 11px;
  margin-right: 10px;
}

.file-control.active {
  text-decoration: underline;
}

.file .icon i {
  font-size: 70px;
  color: #dadada;
}

.file .file-name {
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7eaec;
}

.file-name small {
  color: #676a6c;
}

ul.tag-list li {
  list-style: none;
}

.ibox-content,.ibox-title {
  background-color: #fff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  color: inherit;
}

.mail-search {
  max-width: 300px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox:after,.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-width: 3px 0 0;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.ibox-content {
  padding: 15px 20px 20px;
  border-width: 1px 0;
}

.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #fff;
  padding: 10px 15px;
}

a:hover {
  text-decoration: none;
}

.navbar-brand {
  z-index: 2;
}

.navbar-nav.navbar-right .btn {
  position: relative;
  z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
  padding-left: 22px;
}

.navbar .nav-collapse {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
}

.navbar.navbar-default .nav-collapse {
  background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
  background-color: #222;
}

.navbar .nav-collapse .navbar-form {
  border-width: 0;
  box-shadow: none;
}

.nav-collapse>li {
  float: right;
}

.btn.btn-circle {
  border-radius: 50px;
}

.btn.btn-outline {
  background-color: transparent;
}

@media screen and (max-width:767px) {
  .navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar .nav-collapse {
    margin: 7.5px auto;
    padding: 0;
  }

  .navbar .nav-collapse .navbar-form {
    margin: 0;
  }

  .nav-collapse>li {
    float: none;
  }
}

body {
  background: #eee;
}

.thumb {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  margin-top: 30px;
  width: 100%;
  padding: 10px;
}

.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: 250px;
  height: 270px;
  margin: 0 auto;
}

@media only screen and (max-width:1235px) {
  .thumb-img {
    border-radius: 2px;
    overflow: hidden;
    max-width: 100%;
    height: 247px;
    margin: 0 auto;
  }
}

@media only screen and (min-width:2500px) {
  .thumb-img {
    border-radius: 2px;
    overflow: hidden;
    width: 360px;
    height: 460px;
    margin: 0 auto;
  }
}

@media only screen and (max-width:768px) {
  .thumb-img {
    border-radius: 2px;
    overflow: hidden;
    width: 250px;
    height: 350px;
    margin: 0 auto;
  }
}

.gal-detail h4 {
  margin: 16px auto 10px;
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gal-detail .ga-border {
  height: 3px;
  width: 40px;
  background-color: #228bdf;
  margin: 10px auto;
}

.paginate {
  position: relative;
}

.pagination>li>a,.pagination>li>span {
  padding: 6px 16px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.42857143;
  color: #337ab7;
  background-color: #ECF0F1;
  border: 0;
  font-size: 20px;
}

.pagination>li>a.page-next,.pagination>li>a.page-prev,.pagination>li>span.page-next,.pagination>li>span.page-prev {
  background-color: #1478B8;
  color: #FFF;
}

.pagination>li>a.page-prev,.pagination>li>span.page-prev {
  position: absolute;
  right: 60px;
}

.pagination>li>a.page-next,.pagination>li>span.page-next {
  position: absolute;
  right: 0;
}

.content {
  margin-top: 20px;
}

.divide,.divider {
  height: 1px;
  width: 100%;
  margin: 9px 0;
  background-color: #3d2929;
}

.footer-bs {
  background-color: #3c3d41;
  padding: 60px 40px;
  color: rgba(255,255,255,1);
  margin-bottom: 20px;
  border-top-left-radius: 0;
}

.footer-bs .footer-brand,.footer-bs .footer-nav,.footer-bs .footer-social {
  padding: 10px 25px;
}

.footer-bs .footer-nav,.footer-bs .footer-social {
  border-color: transparent;
}

.footer-bs .footer-brand h2 {
  margin: 0 0 10px;
}

.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255,255,255,.7);
}

.footer-bs .footer-nav h4,.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0;
}

.footer-bs .footer-nav ul.list li {
  padding: 5px 0;
}

.footer-bs .footer-nav ul.list a {
  color: rgba(255,255,255,.8);
}

.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255,255,255,.6);
  text-decoration: none;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-bs .footer-social li {
  padding: 5px 4px;
}

.footer-bs .footer-social a {
  color: rgba(255,255,255,1);
}

.footer-bs .footer-social a:hover {
  color: rgba(255,255,255,.8);
  text-decoration: none;
}

@media (min-width:768px) {
  .footer-bs .footer-nav,  .footer-bs .footer-social {
    border-left: solid 1px rgba(255,255,255,.1);
  }
}

.dropdown-menu {
  min-width: 200px;
}

.dropdown-menu.columns-2 {
  min-width: 400px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu.columns-3 {
  min-width: 600px;
}

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}

.multi-column-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}

.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #999;
}

@media (max-width:767px) {
  .dropdown-menu.multi-column {
    min-width: 240px!important;
    overflow-x: hidden;
    color: #ccc7c7;
  }

  .multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
  }
}